body {
    padding: 0;
    margin: 0;
}

nav {
    text-align: right;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-right: 150px;
    font-size: 18px;
    font-family: 'Poppins', 'Actor', 'Adamina';
    border-bottom: 1px solid lightcyan;
}

nav > .navbar-1 > ul > li {
    display: inline-block;
    padding: 20px;
}

#work {
    background-color: #FFAC13;
    padding-top: 6px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-left: 20px;
    border: 1px solid #FFAC13;
    border-radius: 0px 14px 0px 0px;
    font-family: 'Poppins', 'Actor', 'Adamina';
}

.brooklyn {
    background-color: black;
    margin-top: -20px; 
    color: white;
    padding-bottom: 25px;
}

.brooklyn > h2 {
    padding-top: 30px;
    margin-left: 100px;
    font-family: 'Poppins', 'Actor', 'Adamina';
}

.brooklyn > p {
    margin-left: 100px;
    font-family: 'Poppins', 'Actor', 'Adamina';
}

.dollar {
    margin-top: -124px;
    margin-left: 1114px;
    color: white;
}

.property {
    background-color: lightgray;
    padding-bottom: 30px;
}

.property > img {
    margin-top: 70px;
    margin-left: 100px;
    width: 50%;
}

.profile {
    background-color: white;
    margin-top: -500px;
    margin-bottom: 20px;
    margin-left: 820px;
    padding-bottom: 20px;
    border: 1px solid lightgrey;
    margin-right: 230px;
    border-radius: 20px;
}

.name {
    border: 1px solid grey;
    margin: 15px;
    border-radius: 20px;
    padding-left: 50px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-family: 'Poppins', 'Actor', 'Adamina';
    background-color: lightgray;
}

#one {
    border: 1px solid grey;
    margin: 15px;
    padding: 20px;
    border-radius: 20px;
}

#two {
    border: 1px solid grey;
    margin: 15px;
    padding: 20px;
    border-radius: 20px;
}

#three {
    border: 1px solid grey;
    margin: 15px;
    padding: 20px;
    border-radius: 20px;
}

#four {
    border: 1px solid grey;
    margin: 15px;
    padding: 20px;
    border-radius: 20px;
    padding-bottom: 35px;
}

.more {
    padding-right: 122px;
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -10px;
    padding-left: 40px;
    font-size: 20px;
    border-radius: 0px 15px 0px 0px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

#dp {
    color:#FFAC13;
    margin-top: -15px;
}

.bottom {
    margin-left: 100px;
    width: 50%;
}

.bottom > img {
    margin: 6px;
    width: 12%;
}

.details {
    width: 50%;
    margin-top: 20px;
    margin-right: 60px;
    margin-left: 100px;
    background-color: white;
    border-radius: 20px;
}

.details > h2{
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 30px;
    border-bottom: 1px solid lightgray;
}

.details > table {
    padding-left: 50px;
    padding-bottom: 20px;
}

.details > table > tr > td {
    width: 20%;
    border-right: 1px solid lightgray;
    padding-left: -50px;
}

.description {
    border-top: 1px solid lightgray;
    background-color: white;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 572px;
    border-radius: 20px;
}

.description > h2 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
    padding-left: 20px;
}

.description > p {
    padding-left: 20px;
}

.description > #last {
    padding-bottom: 30px;
}

.check {
    color: rgb(253, 185, 55);
}

.features {
    margin-right: 70px;
}

.features > .feature {
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 2px;
    width: 50%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}

.features > .listing {
    margin-left: 100px;
    margin-bottom: 20px;
    width: 50%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
    display: flex;
}

.features > .listing > ul > li{
    display: inline-block;
    justify-content: space-between;
    margin-bottom: 10px;
}


.top {
    background-color: lightgray;
    padding: 130px;
}

.top > h2 {
    margin-bottom: 100px;
    font-size: 30px;
    margin-left: -20px;
    font-weight: lighter;
    font-family: 'Poppins', 'Actor', 'Adamina;'
}



.top > .a-movers > #img-1 {
    width: 23%;
    margin-right: 30px;
    margin-bottom: 150px;
    margin-left: -20px;
    border-bottom: 2px solid lightgray;
}

.top > .a-movers > #img-2 {
    width: 23%;
    margin-right: 30px;
    margin-bottom: 150px;
}
.top > .a-movers > #img-3 {
    width: 23%;
    margin-bottom: 150px;
}
.top > .a-movers > #img-4 {
    width: 25%;
    margin-right: -130px;
    margin-left: 20px;
    padding-left: 122px;
    height: 50%;
}

.tap {
    background-color: black;
    margin-top: -20px;
    font-family: 'Poppins', 'Actor', 'Adamina';
    padding: 40px;
    padding-left: 150px;
    padding-bottom: 100px;
}

.tap > h2 {
    color: white;
    font-family: 'Poppins', 'Actor', 'Adamina';
    border-bottom: 1px solid lightcyan;
    padding-bottom: 30px;
    width: 90%;
}

.tap > h2 > #move {
    color: #FAFF00;
    margin-left: 40px;
}

#us {
    background-color: #FFAC13;
    padding-top: 6px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-left: 20px;
    border: 1px solid #FFAC13;
    border-radius: 0px 14px 0px 0px;
    font-family: 'Poppins', 'Actor', 'Adamina';
    margin-left: 604px;
}

.tap > .icons {
    color: white;
    margin-top: 120px;
}

.tap > .icons > #f {
    margin-right: 20px;
}

.tap > .icons > #t {
    margin-right: 20px;
}

.tap > .icons > #g {
    margin-right: 20px;
}

.footer-1 {
    margin-top: -100px;
    margin-left: 300px;
}

.footer-2 {
    margin-top: -178px;
    margin-left: 600px;
}

.footer-3 {
    margin-top: -178px;
    margin-left: 900px;
}