body {
    padding: 0;
    margin: 0;
}

nav {
    text-align: right;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-right: 150px;
    font-size: 18px;
    font-family: 'Poppins', 'Actor', 'Adamina';
    border-bottom: 1px solid lightcyan;
}

nav > .navbar-1 > ul > li {
    display: inline-block;
    padding: 20px;
}

#work {
    background-color: #FFAC13;
    padding-top: 6px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-left: 20px;
    border: 1px solid #FFAC13;
    border-radius: 0px 14px 0px 0px;
    font-family: 'Poppins', 'Actor', 'Adamina';
}

.brooklyn {
    background-color: black;
    margin-top: -20px; 
    color: white;
    padding-bottom: 25px;
}

.brooklyn > h2 {
    padding-top: 30px;
    margin-left: 100px;
    font-family: 'Poppins', 'Actor', 'Adamina';
}

.brooklyn > p {
    margin-left: 100px;
    font-family: 'Poppins', 'Actor', 'Adamina';
}

.dollar {
    margin-top: -124px;
    margin-left: 1114px;
    color: white;
}

.property {
    background-color: lightgrey;
}
.property > img {
    margin-top: 70px;
    margin-left: 100px;
    width: 50%;
}