body {
    margin: 0;
    padding: 0;
}

body > .sectOne {
    background-image: url("../images/moving 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cover cover;
    padding-top: 5px;
    padding-bottom: 468px;
    height: 50vh;
    margin-bottom: 50px;
    border-right: 14px solid black;
}

nav {
    text-align: right;
    color: white;
    padding-top: 40px;
    padding-right: 150px;
    font-size: 18px;
    font-family: 'Poppins', 'Actor', 'Adamina';
}

nav > .navbar > ul > li {
    display: inline-block;
    padding: 20px;
}

#one {
    background-color: #FFAC13;
    border: 1px solid #FFAC13;
    font-family: 'Poppins', 'Actor', 'Adamina';
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 14px;
    font-size: 14px;
    margin-right: -10px;
    margin-left: -10px;
}

#two {
    background-color: black;
    border: 1px solid black;
    color: #FAFF00;
    font-family: 'Poppins', 'Actor', 'Adamina';
    font-size: 16px;
    padding-right: 10px;
    padding-left: 14px;
}

.sectOne > .change {
    margin-top: 50px;
    font-family: 'Poppins', 'Actor', 'Adamina';
    margin-left: 130px;
}

.sectOne > .change > #task {
    font-size: 64px;
    color: #FAFF00;
}

.sectOne > .change > #roof {
    color: lightgray;
    font-size: 34px;
}

.sectTwo > .cut > img {
    width: 45%;
}

.sectTwo > .hustle {
    margin-top: -400px;
    margin-bottom: 350px;
    margin-left: 700px;
}

.hustle > h2 {
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Poppins', 'Actor', 'Adamina';
    margin-bottom: -10px;
}

.current {
    color: gray;
    font-family: 'Poppins', 'Actor', 'Adamina';
    font-style:normal;
}

#three {
    background-color: black;
    color: #FAFF00;
    margin-top: 20px;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
    border: 1px solid black;
    border-radius: 0px 12px 0px 0px;
}

.top {
    background-color: lightgray;
    margin-top: -120px;
    padding: 130px;
}

.top > h2 {
    margin-bottom: 170px;
    font-size: 30px;
    margin-left: 20px;
    font-weight: lighter;
    font-family: 'Poppins', 'Actor', 'Adamina;'
}



.top > .a-movers > #img-1 {
    width: 30%;
    margin-right: 30px;
    margin-bottom: 150px;
    margin-left: 20px;
    border-bottom: 2px solid lightgray;
}

.top > .a-movers > #img-2 {
    width: 30%;
    margin-right: 30px;
    margin-bottom: 150px;
}
.top > .a-movers > #img-3 {
    width: 30%;
    margin-bottom: 168px;
}
.top > .a-movers > #img-4 {
    width: 30%;
    margin-right: 30px;
    margin-left: 20px;
}

.top > .a-movers > #img-5 {
    width: 30%;
    margin-right: 30px;
}

.top > .a-movers > #img-6 {
    width: 30%;
}

.tap {
    background-color: black;
    margin-top: -20px;
    font-family: 'Poppins', 'Actor', 'Adamina';
    padding: 40px;
    padding-left: 150px;
    padding-bottom: 100px;
}

.tap > h2 {
    color: white;
    font-family: 'Poppins', 'Actor', 'Adamina';
    border-bottom: 1px solid lightcyan;
    padding-bottom: 30px;
    width: 90%;
}

.tap > h2 > #move {
    color: #FAFF00;
}

.tap > .icons {
    color: white;
    margin-top: 120px;
}

.tap > .icons > #f {
    margin-right: 20px;
}

.tap > .icons > #t {
    margin-right: 20px;
}

.tap > .icons > #g {
    margin-right: 20px;
}

.footer-1 {
    margin-top: -100px;
    margin-left: 300px;
}

.footer-2 {
    margin-top: -178px;
    margin-left: 600px;
}

.footer-3 {
    margin-top: -178px;
    margin-left: 900px;
}
